body {
    font-family: 'Montserrat', sans-serif;
}
.list {
    display: flex;
    list-style: none;
    position: absolute;
    width: 620px;
    height: 15px;
    left: 280px;
    top: 31px;
}
.list .item {
    background: none;
    margin-left: 30px;
    padding: 0;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 700;
}
.link {
    text-decoration: none;
    color: red;
    font-size: 20px;
    text-transform: uppercase;
}
.main_photo {
    margin-top: 80px;
    width: 1280px;
    height: 789px;
    left: 0;
    top: 78px;
}
.content {
     font-style: normal;
     width: 1280px;
     top: 0;
     left: calc(50% - 1280px/2);
     bottom: 108px;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     text-align: center;
    letter-spacing: 3px;

    color: #373737;
    background: rgba(0, 0, 0, 0.0001);
}
.title_p {
    margin-top: 48px;
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}
.p1 {
    margin: 28px 47px;
}
.p2 {
    margin: 28px 47px;
}
.dws {
    margin: 66px 544px;
}
button {
    font-size: 12px;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #FF0000;
    width: 191px;
    height: 51px;
    display: block;
    text-align: center;
    background: #FF0000;
    border-radius: 4px;
}
.footer {
    width: 1280px;
    height: 60px;
    font-style: normal;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
.size {
    margin-left: 708px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;

    color: #373737;
}

